# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
DATABASE_URL="file:./dev.db"
# openssl rand -hex 32
SECRET_KEY="7aae830b36760ba7e3065c597faf9eab6a1277b255a4fc7f1e15a44555ffb75c"
EXPIRATION_TOKEN="10h"